<div class="profile__content__showcase__container profile__content__showcase__about">
  <h3 class="profile__content__showcase__title">About</h3>

  <p class="has-text-dark">
    <%= about %>
  </p>
</div>