<div class="profile__badge">
  <div class="profile__badge__stars">
    <i class="profile__badge__stars--active fa-solid fa-star"></i>
    <i class="profile__badge__stars--active fa-solid fa-star"></i>
    <i class="profile__badge__stars--active fa-solid fa-star"></i>
    <i class="profile__badge__stars--active fa-solid fa-star"></i>
    <i class="profile__badge__stars--active fa-solid fa-star"></i>
  </div>
  <span class="profile__badge__badges__tag tag is-rounded is-info"><i class="fa-regular fa-circle-check"></i>Verified</span>
  <span class="profile__badge__badges__tag tag is-rounded is-info"><i class="fa-solid fa-medal"></i>Top Talent</span>
</div>