<div class="profile__content__contacts">
  <h2 class="profile__content__contacts__title">Let's work together</h2>
  <a class="profile__content__contacts__message-btn-cta button is-medium is-rounded is-fullwidth">
    <i class="fa-regular fa-comments"></i> Send a message
  </a>
</div>
