<div class="profile__cover">
  <div class="container profile__photo__container">
    <div class="profile__photo">
      <%= image_tag photo %>
      <%= render partial: "shared/online-indicator", locals: { user: user } %>
    </div>
  </div>
</div>