<div class="profile__cover">
  <div class="container profile__photo__container">
    <div class="profile__photo">
      <%= image_tag photo %>
      <span class="profile__photo__online-indicator"></span>
    </div>
  </div>
</div>