<div class="profile__content__showcase__container profile__content__showcase__mywork">
  <h3 class="profile__content__showcase__title">My Work</h3>
  <div class="profile__content__showcase__mywork__thumbnails">
    <%= render partial: "shared/product/thumbnail", locals: { products: products } %>
  </div>
</div>
