<div class="profile__content__showcase__container profile__content__showcase__recommendations">
  <% if recommendations.present? %>
    <% recommendations.each do |recommendation| %>
      <div class="profile__content__showcase__recommendations__commendation">
      </div>
    <% end %>
  <% else %>
    <blockquote>No recommendation yet</blockquote>
  <% end %>
</div>