<div data-controller="recommendation" >
  <div 
    class="profile__content__showcase__container"
    data-recommendation-target="recommendations" 
    data-page="1"
    data-commendable-type="User"
    data-commendable-id="<%= talent_id %>">
    <blockquote>No recommendation yet</blockquote>
  </div>
</div>
