<div class="profile__content__showcase__container profile__content__showcase__about">
  <h3 class="profile__content__showcase__title">About<%= render partial: "talents/edit/edit_pencil", locals: { id: id } %></h3>

  <p class="has-text-dark">
    <%= about %>
  </p>
</div>