<div class="profile__author">
  <div class="container">
    <div class="profile__author__name">
      <h1 class="profile__author__name-title">
        <%= name.titleize %>
        <%= render partial: "talents/edit/edit_pencil", locals: { id: id } %>
      </h1>
      <div class="profile__author__roles">
        <span>Social Media Content Creator</span>
        <span>Video Content Creator</span>
        <span>Blog/Article Writer</span>
      </div>
      <a href="javascript:void(0)" class="profile__author__handle">
        <span class="profile__author__handle-link"><%= handle_link %></span>
        <i class="fa-regular fa-copy"></i>
      </a>
    </div>
  </div>
</div>