<%= content_for :header do %>
  <div class="homepage">
    <div class="homepage__hero-banner">
      <h1 class="homepage__hero-banner__title homepage__hero-banner__title--title is-size-1">All Your Creative Tools in One Place!</h1>
      <h2 class="homepage__hero-banner__title is-size-4">Top-Quality Digital Products, Ready to Go</h2>
      <button class="homepage__hero-banner__cta-button button is-danger is-rounded is-large">Get Started</button>
    </div>
  </div>
<% end %>
