.profile {
  &__content {
    min-height: 300px;
    color: #FFFFFF;
    display: flex;

    &__showcase {
      margin-left: 243px;
      width: 65%;
      margin-right: 30px;

      &__title {
        font-weight: 400;
        font-size: 2em;
        margin-bottom: 10px;
      }
      &__container  {
        margin-bottom: 10px;
        background: #FFFFFF;
        border: .5px solid #DDDDDD;
        border-radius: 10px;
        padding: 1em;
      }
      &__headline {
        margin-bottom: 30px;
        font-style: italic;
      }
    }
  }
}
