.custom-dropzone {
  .dropzone {
    padding: 0 !important;
    border: 3px dashed #cdcdcd !important;
  
    button {
      background: #ff922b !important;
      color: #fff !important;
      border: 2px solid #ff922b !important;
      font-size: 1.2em !important;
      font-weight: 600;
      text-shadow: none;
  
      &:hover {
        background: #fff !important;
        color: #ff922b !important;
      }
    }
  
    &-photo, &__cover-photo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px !important;
      height: 200px !important;
  
      .dz-image {
        width: 100% !important;
        height: 100% !important;
  
        img {
          width: 100%;
        }
      }
    }
  
    &__cover-photo {
      width: 100% !important;
      height: 100% !important;
    }
  
    .dz {
      &-default,
      &-preview {
        margin: 0 !important;
        background: none !important;
      }
  
      &-preview {
        width: 100% !important;
        height: 100% !important;
        padding: 20px;
      }
  
      &-image {
        width: 100% !important;
        height: 100% !important;
        border: 1px solid #ff922b;
        background: #fff !important;
      }
  
      &-remove {
        color: #ff922b !important;
        text-decoration: none;
      }
  
      &-button {
        padding: 10px !important;
        font-size: 1em !important;
      }
    }
  
    &__as-button {
      border: 3px dashed #cdcdcd !important;
      background: none !important;
      padding: 0 !important;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

