<div class="frontend-navbar">
  <div class="container">
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-logo" href="<%= root_path %>">
          <%= image_tag 'logo.png' %>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <%= link_to "Products", products_path, class: "navbar-item has-text-weight-semibold" %>
          <a class="navbar-item has-text-weight-semibold">
            Services
          </a>
          <a class="navbar-item has-text-weight-semibold">
            Join Us
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
