<div class="talent_badge">
  <div class="talent_badge__photo">
    <%= image_tag url_for(talent.photo.variant(:thumb)) %>
  </div>
  <div class="talent_badge__desc">
    <div class="talent_badge__desc__handle">
      <span class="has-text-weight-medium"><%= truncate(talent.handle, length: 15, omission: '...' ) %></span>
    </div>
    <div class="talent_badge__desc__stars">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="talent_badge__desc__badges">
      <span class="tag is-rounded is-success"><i class="fa-regular fa-circle-check"></i>Verified</span>
      <span class="tag is-rounded is-success"><i class="fa-solid fa-medal"></i>Top Talent</span>
    </div>
  </div>
</div>