.profile {
  &__cover {
    height: 315px;
    background: url("https://fastly.picsum.photos/id/566/1920/351.jpg?hmac=W3CMstQqsctVMqWGmBuo9enImhx2xx9RHhpu9dDreXk");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__photo__container {
    height: 315px;
    display: flex;
    align-items: end;
  }
  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 220px;
    height: 220px;
    margin-bottom: -165px;
    margin-right: 20px;
    position: relative;

    img {
      display: block;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      border: 6px solid #FFFFFF;
      object-fit: cover;
    }

    &__online-indicator {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #07c403;
      position: absolute;
      bottom: 35px;
      right: 18px;
      border: 2px solid #FFFFFF;
    }
  }
  &__author {
    padding-left: 290px;
    color: #000000;
    background: #FFFFFF;
    height: 110px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    &__name {
      &-title {
        font-family: "Satoshi-Light";
        font-size: 4em;
        color: #000000;
      }
    }
    &__roles {
      display: flex;
      align-items: center;

      span {
        &:after {
          content: "•";
          margin: 0 10px;
        }

        &:last-child:after {
          content: "";
        }
      }
    }
  }

  &__badge {
    display: flex;
    padding: 20px 0px 0px 290px;
    margin-bottom: 20px;
    align-items: center;

    &__stars {
      margin-right: 10px;
      font-size: 1.6em;

      &--active {
        color: #ffca00;
      }
    }
    &__badges {
      &__tag {
        margin-right: 10px;
        font-size: 1em !important;

        i {
          margin-right: 5px;
        }
      }
    }
  }
  &__content {
    min-height: 300px;
    color: #FFFFFF;
    display: flex;

    &__showcase {
      margin-left: 243px;
      width: 65%;
      margin-right: 30px;

      &__title {
        font-weight: 400;
        font-size: 2em;
        margin-bottom: 10px;
      }
      &__container  {
        margin-bottom: 10px;
        background: #FFFFFF;
        border: .5px solid #DDDDDD;
        border-radius: 10px;
        padding: 1em;
      }
      &__headline {
        margin-bottom: 30px;
        font-style: italic;
      }
    }
    &__contacts {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -25px;

      &__title {
        font-weight: 400;
        font-size: 2em;
      }

      &__icon {
        margin-right: 20px;
      }

      &__handle{
        color: #cdcdcd;
        text-decoration: none !important;

        &-link {
          margin-right: 5px;
          color: #ff922b;
          font-weight: 600 !important;
        }
        .fa-copy {
          color: #ff922b;
        }
      }

      &__message-btn-cta {
        background: #ff922b !important;
        border: 0 !important;
        color: #FFFFFF;
        text-shadow: none !important;
        font-size: 1.2em !important;
        margin: 20px auto;
        padding: 20px !important;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}