.product-page {
  margin-top: 102px !important;
  display: flex;

  &__thumbnail {
    &-nav {
      display: flex;
      flex-direction: column;
      margin-right: 10px;

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        overflow: hidden;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        margin-bottom: 4px;

        &:hover {
          border: 2px solid #ff922b;
        }

        img {
          display: block;
          width: 100%;
        }
      }
    }
    &-preview {
      width: 350px;
      max-width: 350px;
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }
  }
  &__description-container {
    margin: 0px 40px;

    &__product-title {
      font-family: "Satoshi-Bold";
      font-size: 1.6em;
      margin-bottom: 10px;
    }
    &__actions {
      margin-bottom: 10px;

      a {
        color: #CDCDCD;
      }
    }
    &__product-description {
      margin-bottom: 10px;
      font-size: 1.2em;
      color: #000000;
    }
  }
  &__author-container {
    margin-bottom: 20px;

    &__author {
      display: flex;

      &__photo {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 3px solid #DDDDDD;
        overflow: hidden;
        margin-right: 10px;
    
        img {
          display: block;
          width: 100%;
        }
      }
      &__details {
        &__name {
          font-size: 1em;
          margin-right: 5px;
        }
        &__ratings {
          display: flex;
          align-items: center;
        }
        &__stars {
          margin-right: 10px;

          &--active {
            color: #ffca00;
          }
        }
        &__badges {
          .tag {
            font-size: 10px !important;
          }
        }
      }
      &__actions {
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: start;
      }
    }

    &__label {
      font-size: .8em;
      font-weight: 400;
      font-style: italic;
    }
  }
  &__buy-container {
    &__buy-now {
      background: #FFFFFF;
      border: .5px solid #DDDDDD;
      border-radius: 10px;
      padding: 1em;
      width: 320px;

      &__title {
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 40px;
      }
      &__price {
        font-size: 3em;
        color: #000000;
        text-align: center;
        font-family: "Satoshi-Light";

        &-currency {
          color: #CDCDCD;
          font-size: .4em;
        }
      }
      &__divider {
        margin: 40px 0;
      }
      &__apply-discount-cta {
        display: block;
        color: #ff922b !important;
        font-weight: 300;
        margin-bottom: 40px;
        text-decoration: none !important;
      }
      &__buy-cta {
        background: #ff922b !important;
        border: 0 !important;
        color: #FFFFFF;
        text-shadow: none;
      }
    }
  }
  &__comments {
    &__show-comment-cta  {
      text-decoration: none !important;
    }
    &__hide-comment-cta {
      text-decoration: none !important;
    }
  }
}
