.hero-banner {
  background: url("repeating_hero_bg.png") repeat-x;
  background-position-x: center;
  background-position-y: bottom;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__office {
    width: 1280px;
    height: 720px;
    position: absolute;
    bottom: 0;
    background: url("hero_bg.png") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 160px;
  }

  &__panelist {
    width: 1280px;
    height: 720px;
    position: absolute;
    bottom: 40px;
    background: url("frog_panelist.png") bottom center no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }

  &__title {
    &--main {
      font-size: 4em;
      color: #ff922b;
      font-family: 'Satoshi-Black';
    }

    &--sub {
      font-size: 2.5em;
      color: #784b31;
      font-family: 'Satoshi-Bold';
    }
  }

  &__cta-button {
    background: #f952e6 !important;
    text-transform: uppercase;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #f75e05, #f75e05, #fbb268);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


