<div class="product-page__thumbnail-container product-page__thumbnail-preview">
  <img 
    class="product-page__thumbnail-preview__img" 
    src="<%= url_for(product.images.first.variant(:thumb)) %>" 
    data-thumbnail-target="preview"
  />
</div>