<div class="container product-page" data-controller="thumbnail">
  <div class="product-page__product-container context-box">
    <%= render partial: "products/show/thumbnail_nav", locals: { product: @product } %>
    <%= render partial: "products/show/thumbnail_preview", locals: { product: @product } %>
    <div class="product-page__description-container">
      <%= render partial: "products/show/product_description", locals: { product: @product } %>
    </div>
  </div>
  <div class="product-page__buy-container">
    <%= render partial: "products/show/buy_now", locals: { product: @product } %>
  </div>
</div>
